body{
    background-color: #242424;
    color:aliceblue;
}
.div{
    margin-top: 15%;
    padding-left: 20%;
}
button{
    height:100px;
    width:100px;
}
.button{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
#white{
    background-color: whitesmoke;
}
#black{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#green{
    background-color: orange;
}
button{
    border-radius: 10px;
}
.spam:hover{
    transform: translateY(-5px);
    transition: ease-in-out 0.5s;
    cursor:pointer;
}
span{
    display:none;
}
a{
    color:whitesmoke;
}
